---
// MainLayout.astro
import "../styles/global.css";
import SpeedInsights from "@vercel/speed-insights/astro"
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Modal from "../components/Modal.astro";
import FloatingActions from "../components/FloatingActions.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string; // Agregamos una descripción opcional
}

const {
  title,
  description = "Lic. Graciela Aballay - Psicóloga UBA. Especialista en Terapia Cognitivo Conductual y Psicoanálisis en Buenos Aires. Consultas online y presenciales.",
} = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-clinica-soft text-gray-800">
    <Navbar />
    <main><slot /></main>
    <Footer />
    <FloatingActions />
    <Modal />
    <SpeedInsights />
  </body>
</html>
